
.ftppass
node_modules/*
build/*
posters/*
!posters/agm.jpg
passwords.php
admin/passwordsFragment.html
.DS_Store
branding/Ident/*
branding/Video/*
branding/Filmsoc Poster Template.psd
branding/FOR MS*

domain transfer receipt.pdf
